body {
  background-color: #460c50e8;
  margin: 0;
  display: inline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.artPost {
  display: inline-grid;
  margin:4px;
  margin-top: 35px;
  top: 2px;
  font-family: 'Judson';
  background-color: antiquewhite;
  overflow: hidden; /* hide the excess */
}

.artPost img {
  display: block; /* no whitespace */
  transition: .3s ease-in-out;
  max-width:200px;
}

.artPost:hover img {
  transform: scale(1.1);
}

.artPost video {
  max-width:200px;
}

.navigationBar {
  display: inline-flex;
  background-color: #525151;
  height: 35px;
  width: 100%;
}

a {
  margin:10px;
  margin: auto;
}
a h3 {
  margin:10px;
  margin: auto;
  color : white;
}
a h3:hover {
  color : #91faff;
  transform: scale(1.01);
}


.headerTextContainer {
 color : white;
 margin: -20px;
}

.headerTextContainer h1:hover {
  color : #80d9ec;
  transform: scale(0.99);
 }
.headerImage {
  background-image: url('bg.jpg');
  height: 115px;
  width: 100%;
  text-align: center;
  font-family: 'Love Ya Like A Sister', cursive;}

.feedbackPanel {
  font-family: 'Cormorant Upright', serif;
  margin: 14px;
}
